target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

.DS_Store
*.log
*.class

.env
.env.*
application-local.yml
scripts/render-keep-alive.log
scripts/render-keep-alive.pid
scripts/render-keep-alive.launchd.log
